@import '../../../mixins/common';

.account-wrapper {
  .role-box-sec {
    .title {
      color: var(--primary);
      font-size: 2.2em;
      margin-bottom: 30px;
    }

    .field-wrap {
      .form-field {
        margin-bottom: 14px;
      }
    }
  }
}
