@import '../../mixins/common';

.asset-card-wrap {
  .asset-card {
    @include flexCenter;
    position: relative;

    .sell-sign {
      position: absolute;
      top: -15px;
      right: 0;
      font-size: 1.5em;
      border-radius: 5px;
      background: var(--primary);
      color: #fff;
      font-weight: 700;
      padding: 4px 8px;
      cursor: pointer;
    }

    .asset-img {
      // max-width: 25px;
      // max-height: 25px;
      margin-bottom: 18px;
      cursor: pointer;
    }

    .asset-value {
      position: absolute;
      bottom: 16px;
    }

    .buy-option {
      // margin-bottom: 0px;
      font-size: 1.5rem;
      font-weight: bold;
      color: var(--primary);
    }
  }
}
