@import '../../../mixins/common';

.game-control-home {
  .select-avatar-card {
    background: var(--bg-panel-card);
    height: 95%;
    position: relative;
    overflow: auto;

    .header-sec {
      font-size: 1.2em;
      margin-top: 20px;
      // margin-left: 20px;
    }

    .options-selector {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;

      .option-wrap {
        text-align: center;

        .option-label {
          font-size: 1.2em;
          font-weight: bold;
          margin-bottom: 12px;
        }

        .option-image {
          border-radius: 50%;
          height: 220px;
          width: 220px;
          position: relative;

          @include w1280 {
            height: 150px;
            width: 150px;
          }

          @include w960 {
            height: 130px;
            width: 130px;
          }

          @include w600 {
            height: 150px;
            width: 150px;
          }
          @include w320 {
            height: 110px;
            width: 110px;
          }

          .image-warp {
            @include flexCenter;
            background: #fff;
            position: absolute;
            border-radius: 50%;
            top: 12px;
            left: 12px;
            right: 12px;
            bottom: 12px;

            img {
              max-width: 200px;
              max-height: 180px;

              @include w1280 {
                max-width: 130px;
                max-height: 120px;
              }
              @include w960 {
                max-width: 120px;
                max-height: 100px;
              }
              @include w320 {
                max-width: 90px;
                max-height: 80px;
              }
            }
          }
          &:hover {
            cursor: pointer;
          }
        }

        &.selected {
          .selector-bg {
            background: url('../../../assets/img/Selected-Blue.svg') no-repeat
              center;
            background-size: cover;
            height: 100%;
            width: 100%;
          }
        }
      }
    }

    .income-wrap {
      margin: 20px;

      .salary-wraps {
        display: flex;
        flex-direction: row;
        margin-top: 10px;

        .starting-salary {
          display: flex;
          width: 150px;
          padding: 5px;
          background: white;
          border: 2px solid var(--primary);
          color: #747d8c;
          font-size: x-large;
          font-weight: bold;
          align-items: center;
          border-radius: 5px;

          .dollar-img {
            img {
              width: 22px;
              height: 20px;
            }
          }
          .money {
            margin-left: 5px;
          }
        }

        .change-salary {
          background: var(--primary);
          color: white;
          width: 80px;
          text-align: center;
          align-self: flex-end;
          border-radius: 5px;
          cursor: pointer;
          padding: 10px;
          font-weight: 500;
          margin-left: 20px;
        }
      }
    }

    .gameLength-wrap {
      width: 90%;
      margin: 20px;

      .lenrole-button-wrap {
        width: 60%;
        display: flex;
        justify-content: space-between;


        .lenrole-button {
          height: 75px;
          margin-top: 10px;
          border-radius: 10px;
          background-color: #ffffff;

          .button-text-wrap {
            margin-top: 15px;
            .button-text1 {
              font-weight: bold;
              font-size: 20px;
              color: #747d8c;
              padding-left: 20px;
            }
            .button-text2 {
              font-weight: bold;
              font-size: 15px;
              color: #747d8c;
              padding-left: 20px;
            }
          }

          .doller-icon {
            position: relative;
            width: 23px;
            height: 24px;
            float: right;
            padding-right: 15px;
            bottom: 30px;
          }

          &:hover {
            background-color: rgba(0, 159, 253, 0.5);
            cursor: pointer;
          }

          &.selected-lenrole {
            background-color: #009ffd;
            .button-text-wrap {
              .button-text1 {
                color: #ffffff;
              }
              .button-text2 {
                color: #ffffff;
              }
            }
          }
        }
      }
    }

    .btn-wrap {
      width: 100%;
      display: flex;
      flex-direction: row;
      position: relative;
      // top: 30px;
      // bottom: 30px;
      justify-content: space-between;

      .btn {
        margin: 20px;
        @include button;
        // background-color: rgb(29, 114, 54);
      }

      @include w320 {
        position: static;
        margin-top: 16px;
      }
    }
  }
}
