@import '../../../mixins/common';

.instructors-list-card {
  background: var(--bg-panel-card);
  height: 90%;
  position: relative;
  overflow: auto;

  .title {
    font-size: 2em;
    font-weight: bold;
    margin: 10px 20px;
  }

  .instructors-list-wrap {
    width: 50%;
    margin: 3% auto;
    background: white;

    @include w320 {
      width: 90%;
      margin: 3% auto;
    }

    .instructor-field-wrap {
      padding: 30px;
      cursor: pointer;
      display: flex;
      border-bottom: 1px solid #dcdcdc;
      // background: greenyellow;
      align-items: center;
      justify-content: center;
      div {
        display: inline-block;
        position: relative;
        font-size: 1.2em;
        text-align: center;
        padding: 5px;

        img {
          width: 50px;
          height: 50px;
          border-radius: 50px;
          background-color: rgb(194, 184, 184);
        }
      }

      &:hover {
        background: #74c6f5;
      }
    }
  }

  .btn-wrap {
    position: absolute;
    bottom: 30px;
    left: 70px;
    .back-btn {
      @include button;
    }
    @include w320 {
      position: static;
      margin-top: 16px;
    }
  }
}
