@import '../../mixins/common';
@import '../../mixins/responsive';

.account-wrapper {
  height: 100%;

  .account-splash-sec {
    background: url('../../assets/img/login-bg.svg') no-repeat center;
    background-size: cover;
  }

  .account-screens {
    @include flexCenter;
    position: relative;

    @include w960 {
      justify-content: flex-start;
      margin-top: 36px;
    }
    @include h600 {
      margin-top: 0px;
    }

    .copyright-wrap {
      position: absolute;
      bottom: 26px;

      @include h600 {
        bottom: 10px;
        // margin-top: 136px;
      }
    }

    .field-wrap {
      width: 420px;

      @include w600 {
        width: 300px;
      }

      @include w320 {
        width: 250px;
      }

      .form-field {
        .label {
          font-weight: bold;
          margin-bottom: 8px;
        }

        .err-msg {
          color: var(--error);
        }
      }
    }

    .form-btns {
      margin-top: 37px;

      @include h600 {
        margin-top: 20px;
      }

      .signin-btn {
        @include button;
      }

      .cont {
        margin: 0 12px;
        font-size: 0.9em;
      }

      .signup-btn {
        color: var(--primary);
      }
    }
  }
}
