@import '../../../mixins/common';

.leader-board-card {
  position: relative;
  background: var(--bg-panel-card);
  width: 90vw;
  height: 90vh;
  overflow: auto;
  display: flex;
  flex-direction: column;

  @include w600 {
    width: 97%;
    height: 97%;
  }

  .leader-board-container {
    margin: auto 0px;

    .top-three-players {
      display: flex;
      justify-content: space-between;

      .player-1 {
        margin-top: -30px;
      }

      .paper-class {
        height: 220px;
        width: 225px;
        border-radius: 10px;
        padding: 2px;

        @include w960 {
          height: 180px;
          width: 180px;
        }

        @include w600 {
          height: 120px;
          width: 120px;
        }

        @include w400 {
          height: 120px;
          width: 95px;
        }

        .player-place {
          width: 100%;

          img {
            margin: 0 70px;

            @include w960 {
              width: 120px;
              height: 100px;
              margin: 0 25px;
            }

            @include w600 {
              width: 80px;
              height: 70px;
            }

            @include w400 {
              width: 50px;
              height: 60px;
            }
          }
        }

        .player-label {
          font-size: 1.4em;
          font-weight: bold;
          text-align: center;

          @include w960 {
            font-size: 1.5em;
          }

          @include w600 {
            font-size: 1.2em;
          }
        }

        .player-points {
          margin-top: 10px;
          font-size: 30px;
          font-weight: bold;
          text-align: center;
          color: #009ffd;

          @include w960 {
            margin-top: 3px;
            font-size: 1.6em;
          }
          @include w600 {
            margin-top: 3px;
            font-size: 1.2em;
          }
        }
      }
    }

    .other-players {
      max-height: calc(100vh - 475px);
      position: relative;
      margin-top: 2%;
      overflow: auto;

      @include w600 {
        max-height: calc(100vh - 325px);
      }

      .leader-board-table {
        width: 100%;
        border-radius: 15px;
        background-color: white;
        border-collapse: collapse;
        table-layout: fixed;
        overflow-y: scroll;

        .table-heading {
          position: sticky;
          .title {
            font-size: 1.5em;
            font-weight: bold;
            color: #c51f7a;
          }
          .table-body {
            .table-rows {
              font-size: 1.3em;
              opacity: 0.9;
            }
          }
        }

        td,
        th {
          padding: 12px;
          border-bottom: 1px solid #ddd;
          text-align: center;
        }
      }
    }

    .btn-wrap {
      position: absolute;
      bottom: 30px;
      left: 70px;
      .back-btn {
        @include button;
      }

      @include w960 {
        position: absolute;
        margin-top: 16px;
        left: 10px;
      }
    }
  }
}
