@import '../../../mixins/common';

.leader-board-card {
  position: fixed !important;
  bottom: 3vh;
  background: var(--bg-panel-card);
  width: 80vw;
  height: 80vh;
  position: relative;
  // overflow: auto;
  display: flex;
  flex-direction: column;
  // background-color: #c51f7a;

  .leader-board-container {
    .top-three-players {
      display: flex;
      justify-content: space-between;

      .player-1 {
        margin-top: -30px;
      }

      .paper-class {
        height: 220px;
        width: 225px;
        border-radius: 10px;
        padding: 2px;
        .player-border {
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 10px;
          margin-top: -50px;
          border-radius: 60px;
          width: 110px;
          height: 110px;
          .player-image {
            height: 10px;
            width: 10px;
            position: relative;
            .image-warp {
              @include flexCenter;
              position: relative;
              top: 12px;
              left: 12px;
              right: 12px;
              bottom: 12px;
              margin-left: 20px;
              img {
                max-width: 75px;
                max-height: 75px;
                display: inline-block;
                margin-left: auto;
                margin-right: auto;
              }
            }
          }
          .player-place {
            margin-left: 80px;
            margin-top: -10px;
          }
        }
        .player-place {
          width: 100%;
          img {
            margin: 0 70px;
          }
        }
        .player-label {
          font-size: 1.4em;
          font-weight: bold;
          text-align: center;
        }

        .player-points {
          margin-top: 10px;
          font-size: 30px;
          font-weight: bold;
          text-align: center;
          color: #009ffd;
        }

        .player-position {
          @include flexCenter;
          margin-top: 20px;
        }
      }
    }

    .other-players {
      position: relative;
      margin-top: 2%;
      overflow: auto;
      max-height: calc(100vh - 475px);
      overflow: auto;

      .leader-board-table {
        width: 100%;
        border-radius: 15px;
        background-color: white;
        border-collapse: collapse;
        // table-layout: fixed;

        .table-heading {
          position: sticky;
          .title {
            font-size: 1.5em;
            font-weight: bold;
            color: #c51f7a;
          }
          .table-body {
            .table-rows {
              // text-align: center;
              font-size: 1.3em;
              opacity: 0.9;
            }
          }
        }

        td,
        th {
          padding: 12px;
          border-bottom: 1px solid #ddd;
          text-align: center;
        }
      }
    }

    .btn-wrap {
      position: absolute;
      bottom: 30px;
      left: 70px;
      .back-btn {
        @include button;
      }
      @include w320 {
        position: static;
        margin-top: 16px;
      }
    }
  }
}
